.clearfix {
	float: none;
	clear: both;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer !important;
	transition: color .75s ease;
	
	&:hover {
		color: #8F9090;
		text-decoration: none; 
	}
}
 