// Global class-based selectors, put all bare element styling in elements.scss
@use 'mixins' as *;
@use 'responsive' as *;

.clearfix {
	float: none;
	clear: both;
	height: 0;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	
	@include tablet {
		max-width: 720px;
	}
	@include desktop {
		max-width: 960px;
	}
	@include desktop-large {
		max-width: 1200px;
	}
}

.container-fluid {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.center, .aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.frame {
	border: 1px solid black;
	margin: 40px auto;
}

.full-width {
	width: 100%;
}


.caption {
	font-size: 10px;
}

.callout {
	@include callout;
}

.coming-soon {
	display: none;
}

.custom-row img {
	float: left;
	margin-right: 20px;
	border: 1px solid black;
}

.dotted {
	border-bottom: 1px dotted rgba(0, 0, 0, .5);
	text-decoration: none;
}

.error-message { //404
	@include heading-font;
}

.illustration {
	border: 1px solid black;
}

.limit-width-800 {
	width: 100%;
	max-width: 800px;
}
.limit-width-500 {
	width: 100%;
	max-width: 500px;
}

.reading {
	max-width: 800px;
	margin: 0 auto;
}

.vertical-space {
	margin-top: 40px;
	margin-bottom: 40px;
}