@use 'responsive' as *;

.layout-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	align-items: stretch;

	@include tablet {
		flex-direction: row;
	}

	nav.main {
		width: 200px;
		flex-shrink: 0;
		
		ul li {
			line-height: 1.5;
		}
	}
	
	.category-list {

		.category {
			line-height: 1.5;
		}
	}
	
	.main-content {
		flex: 1 1 auto;
		width: 100%;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;

		@include tablet {
			width: 100%;
			max-width: 1200px;
		}
	}
}

