// Global re-useable mixin blocks

@mixin heading-font {
	font-family: 'Quicksand', sans-serif;
	color: $link-color;
	font-size: 32px;
	
	@include mobile-only {
		font-size: 24px;
	}
}

@mixin portfolio-piece-title {
	@include heading-font;
	
	@include mobile-only {
		font-size: 32px;
		line-height: 1.5;
	}
}

@mixin body {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
}

@mixin ibm {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 500;
}

// Cross-browser
@mixin placeholder-text($color: #979898) {
	
	&::-webkit-input-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
}

@mixin gradient-vertical($color1, $color2) {
	background: $color2;
	background: linear-gradient(0deg, $color2 0%, $color1 100%);
}

// layout

@mixin aspect-ratio($x, $y) {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
	&:after {
		content: '';
		display: block;
		padding-bottom: calc(#{$y / $x} * 100%);
	}
}

@mixin container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	
	@media (min-width: 576px) {
		max-width: 540px;
	}
	
	@media (min-width: 768px) {
		max-width: 720px;
	}
	
	@media (min-width: 992px) {
		max-width: 960px;
	}
	
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

// $columns should be n number of columns, i.e. 1, 2, 3, etc.
// $gutter is the desired gutter size in px, i.e. 30
@mixin grid($columns, $gutter: 15) {
	$columnWidth: 100% / $columns;
	$gutterPerColumn: ($columns - 1) * $gutter / $columns;
	width: calc(#{$columnWidth} - #{$gutterPerColumn}px);
	margin-bottom: #{$gutter}px;
	margin-right: #{$gutter}px;

	&:nth-child(#{$columns}n+#{$columns}) {
		margin-right: 0;
	}
}

@mixin disable-highlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin square-shadow($color: black) {
	-webkit-box-shadow: 5px 5px 0px 0px $color;
	-moz-box-shadow: 5px 5px 0px 0px $color;
	box-shadow: 5px 5px 0px 0px $color;
}

@mixin callout {
	@include ibm;
	$hover-color: #26ADE4;
	// $hover-color: #009ad3;
	@include square-shadow;
	color: $link-color;
	color: black;
	font-size: 24px;
	text-decoration: none;
	margin: 40px 20px 46px 0;
	border: 10px solid red;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	display: inline-flex;
	
	@include mobile-only {
		font-size: 22px;
	}
	
	&:hover {
		border: 1px solid $hover-color;
		background-color: $hover-color;
		color: white;
		font-weight: 600;
		
		svg {
			fill: white;
		}
	}
	
	svg {
		width: 25px;
		margin: 0 0 0 20px;
	}
}
