// This project uses inverted triangle CSS architecture (https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/)

// Import base modules first with global namespace so they're available everywhere
@use 'responsive' as *;
@use 'vars' as *;
@use 'mixins' as *;

// global - import and output CSS
@use 'reset';
@use 'elements';
@use 'global';
@use 'layout';

// components - import and output CSS
@use 'components/about';
@use 'components/animated-sphere-wireframe';
@use 'components/attractions-filter-grid';
@use 'components/photo-grid';
@use 'components/shadowbox';
@use 'components/video';

@use 'helpers';