.about-pic {
	display: block;
	float: none;
	clear: both;
	margin: auto;
}

.quote {
	margin-bottom: 30px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 75%;
	
	p {
		font-style: italic;
	}

	.quote-author {
		font-family: 'Merriweather Sans', sans-serif;
		float: right;
	}
}