.name {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 42px;
	margin-bottom: 20px;
	
	@include mobile-only {
		font-size: 36px;
		background-color: rgba(255, 255, 255, .6);
		box-shadow: 0px 0px 76px 51px rgba(255, 255, 255, .6);
	}
	
	&.trigger-animation {
		a {
			span {
				display: inline-block;
				transition: all 1200ms ease;
				margin-left: 30px;
				opacity: 0;
				transform: rotate(50deg);
			}
		}
	}
}

.main-menu {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 42px;;
	margin-bottom: 40px;
	
	@include mobile-only {
		font-size: 36px;
	}
	
	&.trigger-animation {
		ul {
			li {
				margin-left: 100px;
				opacity: 0;
				transition: margin-left 700ms ease, opacity 1400ms ease;
				line-height: normal;
			}
		}
	}
			
	ul {
		padding-left: 0;
		
		li {
			line-height: normal;
		}
	}
}