// Elements – styling for bare HTML elements

body {
	font-size: 16px;
	font-family:  sans-serif;
	padding: 20px;
	padding-bottom: 100px;
	line-height: 1;
}

a {
	color: $link-color;
	text-decoration: none;
	cursor: pointer !important;
	transition: color .75s ease;
	word-wrap: break-word;
	
	&:before {
		content: '';
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		//background: $hover;
		transform:  translateX(-100%);
	}
	
	&:hover {
		color: black;
		
		&:before {
			transform:  scaleX(1);
		}
	}
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
}

h1 {
	@include headingFont;
	margin-bottom: 20px;
}

h2 {
	@include headingFont;
	margin-bottom: 10px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 25px;
}

hr {
	border: 0;
	border-top: 1px solid black;
	height: 1px;
}

p {
	font-size: 14px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	line-height: 1.4em;
	
	@include mobile-only {
		font-size: 16px;
		line-height: 1.5;
	}
}
