
$dw-peach: #cb6e52;
$dw-blue: #4374A6;
$daily-schedule-date-selector-color: $dw-blue;
$daily-schedule-subtitle-color: $dw-peach;
$daily-schedule-color-primary: $dw-blue;
$daily-schedule-color-secondary: #cb6e52;
$daily-schedule-timestamp-font-family: 'Baskerville';
$daily-schedule-timestamp-color: #7B7B7B;
$daily-schedule-active-title-color: black;
$daily-schedule-active-location-color: $dw-blue;
$daily-schedule-arrow-color: $dw-blue;
$global-link-color: $dw-blue;
$global-button-alternative: $dw-peach;
$global-shadow: 0 0 26px 0 rgba(0, 0, 0, 0.3);

// Fonts
@mixin baskerville {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
}

@mixin baskerville-bold {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
}

@mixin oswald {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	letter-spacing: 1.5px;
}

@mixin montserrat {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
}

@mixin montserrat-semibold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
}

@mixin montserrat-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 1.5px;
}

@mixin set-font($font) {
	
	@if ($font == 'Montserrat') {
		@include montserrat;
	}
	@else if ($font == 'Montserrat Semibold') {
		@include montserrat-semibold;
	}
	@else if ($font == 'Montserrat Bold') {
		@include montserrat-bold;
	}
	@else if ($font == 'Oswald') {
		@include oswald;
	}
	@else if ($font == 'Baskerville') {
		@include baskerville;
	}
	@else if ($font == 'Baskerville Bold') {
		@include baskerville-bold;
	}
}

@mixin subtitle($color: $color-fountain-blue) {
    @include montserrat-bold;
	color: $color;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 10px;
}

@mixin global-arrow-callout {
    @include montserrat-semibold;
    text-transform: uppercase;
    color: $global-link-color;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
        width: .4em;
        fill: $global-link-color;
        margin-left: 5px;
        
        @include ie-only {
            max-height: 1em;
        }
    }
}

@mixin horizontal-rule($color) {
	
	&:after {
		content: '';
		border-bottom: 2px solid $color;
		width: 60px;
		display: block;
		margin: 20px auto;
	}
}

@mixin ie-only {
	@media all and (-ms-high-contrast: none) {
		@content;
	}
}


@mixin disable-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.daily-schedule {
    @include disable-highlight;
    margin-top: 40px;
    margin-bottom: 100px;
    
    &.layout-simple {
        
        .daily-schedule-intro {
            
            .date-selector-and-park-hours {
                margin-bottom: 20px;
                
                .date-selector {
                    font-size: 14px;
                }
                
                .park-hours {
                    margin: 15px 0 5px 0;
                    padding: 0;
                    border: 0;
                    
                    @include mobile-only {
                        display: block;
                    }
                    
                    .park {
                        
                        h5 {
                            @include set-font('Montserrat Semibold');
                            font-size: 10px;
                            display: inline-block;
                            margin-right: 5px;
                            margin-bottom: 0;
                            text-transform: uppercase;
                        }
                        
                        .hours {
                            @include set-font('Montserrat Semibold');
                            font-size: 10px;
                            text-transform: uppercase;
                            display: inline-block;
                        }
                    }
                }
            }
        }
        
        .daily-schedule-event-listing {
            
            .event-list {
                
                @include tablet {
                    border-right: 1px solid #D7D7D7;
                    padding-right: 15px;
                    margin-right: 15px;
                }
                
                .events {
                    
                    ul {
                        
                        li {
                            
                            @include mobile-only {
                                padding-right: 0;
                            }
                            
                            @include tablet {
                                padding-right: 15px;
                            }
                            
                            &:last-of-type {
                                border-bottom: 1px solid #D7D7D7;
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.layout-advanced {
        
        .daily-schedule-event-listing {
            
            @include mobile-only {
                flex-direction: column-reverse;
            }
            
            .event-list .events ul li:first-of-type {
                border-top: 0;
            }
        }
    }
    
    .daily-schedule-intro {
        display: block;
        margin: auto;
        
        @include desktop {
            width: 75%;
        }
        
        .subtitle {
            @include subtitle($daily-schedule-subtitle-color);
            margin-bottom: 10px;
            text-align: center;
        }
        
        h2 {
            @include set-font('Baskerville');
            @include horizontal-rule($daily-schedule-color-primary);
            text-align: center;
            color: black;
        }
        
        .date-selector {
            @include set-font('Montserrat');
            text-align: center;
            font-size: 18px;
            list-style-type: none;
            padding: 0;
            color: $daily-schedule-date-selector-color;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            
            @include mobile-only {
                font-size: 18px;
            }
            
            .daily-schedule-page-prev, .daily-schedule-page-next {
                padding: 0 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                
                &.daily-schedule-page-prev {
                    
                    @include mobile-only {
                        padding-left: 0;
                    }
                    
                    svg {
                        transform: rotate(180deg);
                        
                        @include mobile-only {
                            margin-left: 0;
                        }
                    }
                }
                
                &.daily-schedule-page-next {
                    
                    @include mobile-only {
                        padding-right: 0;
                    }
                    
                    svg {
                        
                        @include mobile-only {
                            margin-right: 0;
                        }
                    }
                }
                
                svg {
                    fill: $daily-schedule-date-selector-color;
                    width: 12px;
                    margin: 0 10px;
                }
            }
        }
        
        .park-hours {
            display: flex;
            margin-top: 30px;
            flex-wrap: wrap;
            border-bottom: 1px solid #979797;
            padding-bottom: 30px;
            margin-bottom: 30px;
            
            @include mobile-only {
                padding-bottom: 15px;
                margin-bottom: 15px;
            }
            
            .park {
                margin: auto;
                text-align: center;
                
                h5 {
                    
                    @include mobile-only {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                }
                
                .hours {
                    @include set-font('Montserrat Semibold');
                    font-size: 14px;
                    
                    @include mobile-only {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
    .schedule-disclaimer {
        color: #4d4d4d;
        line-height: 1.6;
        text-align: center;
        font-size: .9em;
        
        @include tablet {
            padding: 0 30px;
        }
        
        a {
            @include global-arrow-callout;
            font-size: 12px;
        }
    }
    
    .sorting-selector {
        @include montserrat-bold;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        border-bottom: 1px solid #979797;
        padding-bottom: 15px;
        margin-bottom: 10px;
        margin-top: 50px;
        
        @include mobile-only {
            overflow: visible;
            font-size: 12px;
        }
        
        @include tablet-only {
            font-size: 11px;
        }
        
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        
        .sort-by {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            width: 100%;
            
            li {
                margin: 0 30px 0 0;
                padding-bottom: 3px;
                color: #9b9b9b;
                
                @include mobile-only {
                    width: auto;
                }
                
                @include tablet {
                    width: auto;
                    height: auto;
                    position: static;
                    flex-shrink: unset;
                }
                
                &:hover {
                    color: black;
                    cursor: pointer;
                }
                
                &.active {
                    color: black;
                    border-bottom: 3px solid $global-button-alternative;
                }
            }
        }
    }
    
    .park-filter {
        border-bottom: 1px solid #979797;
        padding-bottom: 10px;
        margin-bottom: 20px;
        position: relative;
        
        @include mobile-only {
            border-bottom: 0;
        }
        
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
        
        .filter-dropdown {
            @include set-font('Montserrat Semibold');
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            
            @include mobile-only {
                font-size: 12px;
                position: relative;
            }
            
            @include tablet-only {
                font-size: 11px;
            }
            
            @include tablet {
                margin-left: 20px;
            }
            
            @include desktop {
                position: relative;
            }
            
            .current-sort {
                @include set-font('Montserrat');
            }
            
            .dropdown-options {
                display: none;
                position: absolute;
                z-index: 99999;
                background-color: white;
                box-shadow: $global-shadow;
                right: 0;
                top: 100%;
                
                @include mobile-only {
                    width: 100%;
                }
                
                @include desktop {
                    top: calc(100% + 10px);
                }
                
                &.active {
                    display: block;
                }
                
                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    width: 180px;
                    font-size: 12px;
                    text-transform: none;
                    
                    li {
                        position: relative;
                        color: #4a4a4a;
                        padding: 10px 20px;
                        
                        &.active {
                            color: $daily-schedule-color-primary;
                            
                            &:after {
                                content: '';
                                width: 75%;
                                border-bottom: 1px solid $daily-schedule-color-secondary;
                                display: block;
                                position: absolute;
                                bottom: 5px;
                            }
                        }
                        
                        &:first-of-type {
                            padding-top: 20px;
                        }
                        
                        &:last-of-type {
                            padding-bottom: 20px;
                            
                            &:after {
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
            
            .park-dropdown-toggle {
                text-transform: uppercase;
                
                @include mobile-only {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: 1px solid #ccc;
                }
                
                .current-filter {
                    @include set-font('Montserrat');
                    
                    @include mobile-only {
                        margin-left: auto;
                    }
                }
                
                svg {
                    
                    @include ie-only {
                        max-height: 1em;
                    }
                }
                
                &.active {
                    
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            
            svg {
                width: 15px;
                margin-left: 10px;
                transition: transform 150ms ease;
            }
        }
    }
    
    .daily-schedule-event-listing {
        display: flex;
        
        @include mobile-only {
            flex-wrap: wrap;
        }
        
        .event-list {
            
            @include mobile-only {
                width: 100%;
            }
            
            @include tablet {
                width: 50%;
                padding-right: 20px;
            }
            
            .featured-events-label, .all-events-label {
                @include set-font('Montserrat Semibold');
                color: white;
                font-size: 12px;
                padding: 5px 10px;
                text-transform: uppercase;
            }
            
            .featured-events-label {
                background-color: $daily-schedule-color-primary;
            }
            
            .all-events-label {
                background-color: $daily-schedule-color-secondary;
            }
            
            .events {
                
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-bottom: 0;
                    
                    li {
                        border-top: 1px solid #D7D7D7;
                        padding: 20px 15px 20px 15px;
                        position: relative;
                        cursor: pointer;
                        
                        @include mobile-only {
                            padding: 15px 0;
                            
                            &:last-of-type {
                                border-bottom: 1px solid #D7D7D7;
                            }
                        }
                        
                        @include tablet-only {
                            padding: 20px 25px 20px 15px;
                        }
                        
                        @include tablet {
                            display: flex;
                        }
                        
                        &.sort-by-activity {
                            flex-direction: row-reverse;
                            justify-content: space-between;
                        }
                        
                        &:hover {
                            
                            .time {
                                color: darken(#7B7B7B, 20%);
                            }
                            
                            .title-and-location {
                                
                                h3, .location {
                                    color: darken(#7B7B7B, 20%);
                                }
                            }

                            svg {
                                opacity: .7;
                            }
                        }
                        
                        &.active {
                            
                            .time {
                                color: $daily-schedule-active-title-color;
                            }
                            
                            .title-and-location {
                                
                                h3 {
                                    color: $daily-schedule-active-title-color;
                                }
                                
                                .location {
                                    color: $daily-schedule-active-location-color;
                                }
                            }

                            svg {
                                opacity: 1;
                            }
                        }
                        
                        .time {
                            @include set-font($daily-schedule-timestamp-font-family);
                            max-width: 120px;
                            margin-right: 10px;
                            font-size: 16px;
                            color: #7B7B7B;
                            flex-basis: 80px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            
                            @include mobile-only {
                                display: block;
                                font-size: 16px;
                                margin-bottom: 5px;
                            }
                            
                            @include tablet-only {
                                font-size: 14px;
                                min-width: 75px;
                            }
                        }
                        
                        .title-and-location {
                            
                            h3 {
                                @include set-font('Baskerville');
                                color: #7B7B7B;
                                margin-bottom: 5px;
                                font-size: 18px;
                                margin-top: 0;
                                
                                @include mobile-only {
                                    font-size: 22px;
                                }
                                
                                @include tablet-only {
                                    font-size: 18px;
                                }
                            }
                            
                            .location {
                                @include set-font('Montserrat Semibold');
                                color: #7B7B7B;
                                text-transform: uppercase;
                                font-size: 12px;
                                
                                @include tablet-only {
                                    font-size: 10px;
                                }
                            }
                        }
                        
                        svg {
                            fill: $daily-schedule-arrow-color;
                            width: 10px;
                            height: 30px;
                            position: absolute;
                            right: 0;
                            transform: translateY(-50%);
                            top: 50%;
                            opacity: .5;
                        }
                    }
                }
            }
        }
        
        .event-details {
            
            @include mobile-only {
                width: 100%;
                margin-bottom: 20px;
            }
            
            @include tablet {
                width: 50%;
            }
            
            .event-photo {
                margin-bottom: 30px;
                
                @include tablet-only {
                    margin-bottom: 20px;
                }
            }
            
            .event-name-and-time {
                margin-bottom: 20px;
                
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                h4 {
                    @include set-font('Baskerville');
                    color: $daily-schedule-active-title-color;
                    margin-bottom: 0;
                    
                    @include mobile-only {
                        margin-bottom: 10px;
                    }
                    
                    @include tablet-only {
                        font-size: 18px;
                    }
                }
                
                .event-time {
                    @include set-font($daily-schedule-timestamp-font-family);
                    color: $daily-schedule-active-title-color;
                    
                    @include mobile-only {
                        margin-bottom: 20px;
                    }
                    
                    @include tablet-only {
                        font-size: 12px;
                    }
                }
            }
            
            .alternative-times {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                padding: 0;
                border-top: 1px solid #D7D7D7;
                border-bottom: 1px solid #D7D7D7;
                font-size: 12px;
                margin-bottom: 15px;
                
                li {
                    margin: 10px 20px 10px 0;
                    
                    @include tablet-only {
                        margin: 10px 10px 0 0;
                    }
                    
                    &:first-of-type {
                        @include set-font('Montserrat Semibold');
                        text-transform: uppercase;
                        color: $daily-schedule-active-title-color;
                    }
                    
                    &:last-of-type {
                        margin: 10px 0;
                    }
                }
            }
            
            .event-description {
                line-height: 1.5;
                
                @include tablet-only {
                    font-size: 14px;
                }
            }
            
            .event-details-page-link {
                @include global-arrow-callout;
                text-align: left;
                justify-content: flex-start;
                margin-top: 20px;
                font-size: 14px;
                
                @include tablet-only {
                    font-size: 12px;
                }
            }
        }
    }
}