.category-content {
	
	.category-description {
		margin-bottom: 50px;
	}
	
	.each-piece {
		margin-bottom: 30px;
		
		img {
			border: 1px solid black;
			float: left;
			margin-right: 20px;
			height: auto;
			
			@include mobile-only {
				width: 25%;
				margin-bottom: 10px;
			}
		}
		
		.piece-details {
			float: left;
			width: calc(100% - 150px);
			
			h2 {
				@include portfolioPieceTitle;
			}

			.description {
				margin-bottom: 10px;
			}

			.nature-of-contributions {
				font-size: 12px;
			}
		}
	}
}

.each-piece-3d-models {
	margin-bottom: 30px;
}