.print-icon {
	float: right;
	cursor: pointer;
}

@mixin resumeHeading {
	@include headingFont;
	font-size: 32px;
}

.resume-content {
	font-size: 14px;
	line-height: 1.5;
	
	.left {
		float: left;
		width: 49%;
	}
	
	.right {
		float: right;
		width: 49%;
	}
	
	section {
		margin-bottom: 50px;
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 300;
		
		&.contact {
			
			.left {
				width: 30%;
			}
			
			.right {
				width: 69%
			}
		}
		
		&.education {
			margin-bottom: 0;
			
			ul {
				margin-left: 3px;
				li {
					margin-bottom: 0;
				}
			}
		}

		&.experience {
			
			.left {
				width: 30%;
			}
			.right {
				width: 65%;
			}
			
			.employment {
				margin-bottom: 30px;
				
				.duration {
					margin-bottom: 10px;
				}
				
				.summary {
					
					.company {
						font-size: 18px;
						margin-bottom: 5px;
					}
					
					.position {
						font-style: italic;
						margin-bottom: 10px;
					}
					
					.job-description {
						
					}
				}
			}
		}
		
		h2 {
			@include resumeHeading;
			margin-bottom: 20px;
			line-height: normal;
		}
		
		ul {
			
			li {
				margin-bottom: 10px;
			}
		}
		
		.plus {
			padding-left: 20px;
			
			@include mobile-only {
				display: none;
			}
			
			li {
				
				&:before {
					content: '+ ';
					margin-left: -1em;
				}
			}
		}
	} 
}