@use '../vars' as *;

#sphereWireframe {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: -1000;
	opacity: 0;
	transition: opacity 2s $ease-in-out-cubic;
	
	&.active {
		opacity: 1;
	}
}