.photo-thumbnails {
	margin-top: 50px;

	.photo-thumb {
		
		img {
			float: left;
			border: 1px solid black;
			margin-right: -1px;
			margin-bottom: -1px;
			
			@include mobile-only {
				width: calc(100% / 2);
			}
			
			@include tablet {
				width: calc(100% / 4);
			}
			
			@include desktop {
				width: calc(100% / 6);
			}
		}
		
		br {
			display: none;
		}
	}
}