.category-content {
	
	.category-description {
		margin-bottom: 50px;
	}
	
	.each-piece {
		margin-bottom: 30px;

		@include mobile-only {
			margin-bottom: 150px;
		}

		@include desktop {
			display: flex;
		}
		
		.wp-post-image {
			border: 1px solid black;
			margin-right: 20px;
			height: auto;
			
			@include mobile-only {
				margin-bottom: 10px;
			}

			@include desktop {
				max-width: 250px;
			}
		}
		
		.piece-details {
			
			h2 {
				@include portfolioPieceTitle;
			}

			.description {
				margin-bottom: 10px;
			}

			.nature-of-contributions {
				font-size: 12px;
			}
		}
	}
}

.each-piece-3d-models {
	margin-bottom: 30px;
}