.print-icon {
	float: right;
	cursor: pointer;
}

@mixin resumeHeading {
	font-family: 'IBM Plex Mono', monospace;
	color: $link-color;
	font-size: 32px;
	margin-bottom: 20px;
	
	@include mobile-only {
		margin-bottom: 10px;
	}
}

.resume-content {
	font-size: 14px;
	line-height: 1.5;
	
	@include mobile-only {
		margin-top: 50px;
	}
		
	>.left, >.right {
		float: left;
		width: 49%;
		
		@include mobile-only {
			display: block;
			float: none;
			width: 100%;
		}
		
		&.right {
			float: right;
		}
	}
	
	section {
		margin-bottom: 50px;
		font-family: 'Merriweather Sans', sans-serif;
		font-weight: 300;
		
		@include mobile-only {
			margin-bottom: 25px;
		}
		
		&.contact {
				
			.left {
				float: left;
				width: 30%;
			}
			
			.right {
				float: right;
				width: 69%;
				
				a {
					text-decoration: underline;
				}
			}
		}
		
		&.education {

			@include tablet {
				margin-bottom: 0;
			}
			
			ul {
				margin-left: 3px;
				margin-bottom: 25px;

				li {
					margin-bottom: 0;
				}
			}
		}

		&.experience {
			
			.left {
				float: left;
				width: 30%;
			}
			.right {
				float: right;
				width: 65%;
				
				@include mobile-only {
					width: 100%;
				}
			}
			
			.employment {
				margin-bottom: 30px;
				
				.duration {
					margin-bottom: 10px;
				}
				
				.summary {
					
					.company {
						font-size: 20px;
						
						@include mobile-only {
							font-size: 18px;
						}
						
						@include tablet {
							margin-bottom: 5px;
						}
					}
					
					.position {
						font-style: italic;
						
						@include tablet {
							margin-bottom: 10px;
						}
					}
				}
			}
		}
		
		h2 {
			@include resumeHeading;
		}
		
		ul {
			
			li {
				margin-bottom: 10px;
			}
		}
		
		.plus {
			padding-left: 20px;

			li {
				
				&:before {
					content: '+ ';
					margin-left: -1em;
				}
			}
		}
	}
	
	.desktop {
		
		@include mobile-only {
			display: none;
		}
	}
	
	.mobile {
		
		@include tablet {
			display: none;
		}
	}
}


@media print {

	$section-title-size: 14px;
	$paragraph-size: 9px;
	
	body {
		padding: 0;
	}
	
	.name {
		display: none;
	}
	
	.resume-content {
		font-size: $paragraph-size;
		
		section {
			margin-bottom: 10px;
			
			&.contact {
				font-size: $paragraph-size;

				.left {
					padding-left: 60px;

					ul {
						padding-left: 0;
					}
				}
			}

			&.skills {

				ul {
					padding-left: 60px;
				}
			}
			
			&.experience {
				
				.employment {
					margin-bottom: 10px;
					padding-left: 50px;

					.duration {
						margin-bottom: 5px;
					}
					
					.company {
						font-size: 10px !important;
					}
				}
			}
			
			&.education {
				margin-bottom: 0;
				
				ul {
					vertical-align: top;
					display: inline-block;
					width: 45%;

					&:first-of-type {
						padding-left: 50px;
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			
			h2 {
				font-size: $section-title-size;
				margin-bottom: 20px;
			}
			
			ul {
				
				li {
					font-size: $paragraph-size;
					margin-bottom: 0;
				}
			}
			
		}
	}
	
	.edit-link {
		display: none;
	}
}